 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

  body{
    font-family: 'Poppins', sans-serif;
      padding: 0;
      margin: 0;
      background-color: #182d52;
      color: aliceblue;
  }
  
  :root{
    --primary-color: #182d52;
    --yello-color:#f59e0b;
    --off-white:#d1d5db;
    --dark-gray:#374151;
  }
  /*** links ***/
  .link{
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    
  }
  .secondary-link{
    border: 1px solid var(--primary-color);;
    border-radius: 0.5rem; 
    color: var(--primary-color);
  }
  
  /* nav */
  nav{
    display: flex;
    justify-content: space-around;
    background-color: #112039;
    height: 4rem;
  }
  nav li{
    list-style: none;
    text-decoration: none;
  }
  .right-nav ul{
    display: flex;
  }
  .right-nav li a{
    margin: 0 20px;
    text-decoration: none;
    color: aliceblue;
  }
  .right-nav li a:hover{
    color: #f59e0b;
  }
  .left-nav{
    padding: 1rem;
    font-weight: bold;
    font-size: larger;
  }
  
  /* section */
  .firstSection{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .firstSection > div{
    width: 35%;
  }
  .leftSection{
    font-size: 2rem;
    justify-content: center;
  }
  .leftSection > span{
    color: #f59e0b;
  }
  .rightSection img{
    width: 100%;
  }