  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

  body{
      font-family: 'DM Sans', sans-serif;
      padding: 0;
      margin: 0;
  }
  
  :root{
    --primary-color: #182d52;
    --yello-color:#f59e0b;
    --off-white:#d1d5db;
    --dark-gray:#374151;
  }
  /*** container ***/
  .container{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-center{
    max-width: 600px;
    margin: auto;
  }
  
  /*** links ***/
  .link{
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
  }
  .secondary-link{
    border: 1px solid var(--primary-color);;
    border-radius: 0.5rem; 
    color: var(--primary-color);
  }
  
  /*** list ***/
  .list-non-bullets{
    list-style: none;
  }
  .list-item-inline{
    display: inline;
    padding: 0 0.5rem;
  }
  
  /* nav */
  .navigation{
   background-color: var(--primary-color); 
   color: white;
   border-bottom-left-radius: 1rem;
   padding: 1.1rem 1rem;
  }
  .navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
  }
  .navigation .link{
    color: white;
  }
  .navigation .link-active{
    font-weight: bold;
  }
  .navigation .nav-pills{
    text-align: right;
  }
  /* heading */
  
  .hero{
    padding: 2rem;
    display: flex;
  }
  .hero-heading span{
    color: var(--yello-color);
  }
  .hero-detail-sec{
    max-width: 50%;
    margin-left: 2rem;
  }
  .hero .hero-img{
    max-width: 500px;
    display: block;
    margin: auto;
  }
  /* section */
  .section{
    padding: 1rem;
    text-align: center;
  }
  .section h1{
    text-align: center;
  }
  .off-white {
    background-color: var(--off-white);
  }
  
  /* footer */
  .footer{
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    padding: 2rem 0;
  }
  .footer .link{
    color: white;
  }
  
  