  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

  body{
      font-family: 'DM Sans', sans-serif;
      padding: 0;
      margin: 0;
  }
  
  :root{
    --primary-color: #182d52;
    --yello-color:#f59e0b;
    --off-white:#d1d5db;
    --dark-gray:#374151;
  }
  /*** container ***/
  .container{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .container-center{
    max-width: 600px;
    margin: auto;
  }
  .container-center > h1{
    text-align: center;
  }
  span{
    color: var(--yello-color);
  }
  /*** links ***/
  .link{
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  .primary-link{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    
  }
  .secondary-link{
    border: 1px solid var(--primary-color);;
    border-radius: 0.5rem; 
    color: var(--primary-color);
  }
  
  /*** list ***/
  .list-non-bullets{
    list-style: none;
  }
  .list-item-inline{
    display: inline;
    padding: 0 0.5rem;
  }
  
  /* nav */
  .navigation{
    position: sticky;
    top: 0px;
    background-color: var(--primary-color); 
    opacity: 0.98;
    color: white;
    /* border-bottom-left-radius: 1rem; */
    /* padding: 1.1rem 1rem; */
    justify-content: space-between;
    display: flex;
  }
  .navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1rem;
  }
  .navigation .link{
    color: white;
  }
  .navigation .link-active{
    font-weight: bold;
  }
  .navigation .nav-pills{
    text-align: right;
  }
  /* heading */
  
  .hero{
    position: relative;
    /* padding: 2rem; */
    width: 100wv;
    height: auto;
    margin: auto;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
  }
  .hero-heading span{
    color: var(--yello-color);
  }
.hero-div-img{
  
}
  .hero-img{
    position: fixed;
    width: 100vw;
    z-index: -1;
  }
  .hero-div img{
    max-width: 100%;
  }
  /* section */
  .section{
    padding: 1rem;
    padding-top: 0.4rem;
    text-align: center;
    max-width: 80%;
    margin: auto;
    border-radius: 10px;
  }
  .section h1{
    text-align: center;
  }
  .off-white {
    background-color: var(--off-white);
    /* max-width: 60%; */
  }
  .section-tech-divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--yello-color);
    border-radius: 1rem;

  }
  .section-tech-divs > div{
    padding: 1rem;
  }
  .tech-logo {
      width: 3rem;
      height: auto;
  }
  
  /* footer */
  .footer{
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 2rem 0;
  }
  .footer .link{
    color: white;
  }
  
  .reversed-ol-list{
    list-style-type: none;
  }
  